<div class="ui-list">
  <div class="row ui-list-header">
    <div class="list-header-info">
      <h2>List Name</h2>
      <div class="list-new-items">
        <span>{{countNewItems}}</span>
      </div>
      <h4>Total {{items.length}}</h4>
    </div>
    <div class="list-header-icons">
      <i class="fa fa-plus" aria-hidden="true" (click)="add(index);"> </i>
      <i class="fa fa-caret-down" aria-hidden="true" (click)="toggle();"></i>
    </div>
  </div>
  <ul class="ui-list-items" *ngIf="items" [class.hide]="collapsed">
    <li *ngFor="let item of items | slice:0:show; let index = index; let last = last;" [ngClass]="item == newitems[0] ? 'active' : 'padded'" class="ui-list__item-component">
      <div class="item-image hidden-sm">
        <img src="{{item.imageSrc}}" onError="this.src='../assets/not-found.png'" />
      </div>
      <div class="item-parts">
        <p class="item-title">{{item.title}}</p>
        <p class="item-subtitle">{{item.subtitle}}</p>
        <p class="item-description">{{item.description}}</p>
        <p class="item-date"><i class="fa fa-calendar"></i>{{today | date : "EEE MMM dd yyyy"}}</p>
      </div>
      <div class="item-remove-icon" (click)="remove(index);">
        <i class="fa fa-trash"></i>
      </div>
    </li>
  </ul>
  <div class="row ui-list-footer">
    <p (click)="show = items.length">Load more</p>
  </div>
</div>
